<html>
    <head>
        <title>
            Dress up 
        </title>
    </head>
    <body>
        <img src="iPhone 13 mini - 3.png " usemap="#cool">

        
<map name="cool">
  
    <area shape="rect" coords="182,136,272,270" alt="Computer" href="8.html">
    <area shape="rect" coords="277,130,350,266" alt="Computer" href="11.html">

    <area shape="rect" coords="179,284,260,423" alt="Computer" href="9.html">

    <area shape="rect" coords="276,288,345,429" alt="Computer" href="10.html">
    <area shape="rect" coords="147,484,215,531" alt="Computer" href="1.html">
    <area shape="rect" coords="49,474,129,548" alt="Computer" href="2.html">
</map>
    </body>
</html>